<footer th:fragment="footerFragment" class="footer">
	<div class="container-fluid bg-dark text-white py-4">
		<a href="/"><img src="/img/footer_logo.png"></a>
		<div class="fw-bold" style="margin-top:15px">
			<span>김포시청 10109 경기도 김포시 사우중로 1 (사우동)</span>
			<span class="mx-3">TEL. 031-980-2114</span>
			<span>FAX. 031-980-2900</span>
		</div>
		<div class="text-secondary">
			본 홈페이지에서 게시된 이메일주소를 자동으로 수집하는 것을 거부하며, 위반 시 관련 법에 의거 처벌 등을 유념하시기 바랍니다.

		</div>
		<div class="fw-bold" style="margin-top:10px">
			<span class="mx-2 text-danger">개인정보처리방침</span>
			<span class="mx-2">홈페이지 개선의견</span>
			<span class="mx-2">저작권 정책</span>
			<span class="mx-2">뷰어다운로드</span>
		</div>
	</div>	
</footer>