<!DOCTYPE html>
<html lang = "ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- css 추가 부분 -->
<!-- bootstrap.css added -->
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">


</head>
<body>
	
	<!-- copy page notication -->
	<div>
		<img src="/img/header_flag.png">
		<span style="vertical-align:middle;">이 누리집은 공식 누리집이 아닌 교육용 카피 페이지 입니다.</span>
	</div>

	<!-- navbar added -->
	<div th:replace="~{navbar::navbarFragment}"></div>

	<!-- main layout added -->
	<th:block layout:fragment="content"></th:block>

	<!-- bootstrap JS added -->
	<script th:src="@{/bootstrap.min.js}"></script>


</body>
</html>