<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
	<div class="container-fluid">
		<a class="navbar-brand" href="/"><img src="/img/Gimpo_Logo.png"></a>
		
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
		data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
		aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a>
					
					<form sec:authorize="isAuthenticated()" th:action="@{/user/logout}" method="post">
						<button type="submit" class="nav-link btn btn-link">로그아웃</button>
					</form>
				</li>
				
				
				
				<li class="nav-item">
					<a class="nav-link" sec:authorize="isAnonymous()"  th:href="@{/user/signup}">회원가입</a>
				</li>
			</ul>
		
		</div>
		
	</div>
	<!-- <h2>통하는 70도시 우리 김포</h2>
	<h3>알림 사항 목록</h3>
	<h4><span>검색</span>  <span>검색단어 입력</span></h4>
	<h5>게시판 목록 시작</h5> -->
</nav>