<html layout:decorate="~{layout}">
	<div layout:fragment="content">
		<table class="table">
			<thead class="table-dark">
				<tr class="text-center">
					<th>번호</th>
					<th style="width:50%">제목</th>
					<th>작성자</th>
					<th>조회수</th>
					<th>작성일</th>			
				</tr>
			</thead>
			
			<tbody class="text-center">
				<tr th:each="notice, loop : ${lists}">
					<td th:text="${loop.count}"></td>
					<td>
						<a th:href="@{|/notice/detail/${notice.id}|}">
							<span th:text="${notice.title}"></span>
						</a>
					</td>
		<!-- 			<td th:text="${notice.writter}"></td> -->
					<td th:text="김아무개"></td>
					<td th:text="${notice.views}"></td>
					<td th:text="${ #temporals.format(notice.createDate, 'yyyy-MM-dd HH:mm:ss') }"></td>			
				</tr>
			</tbody>
		</table>
		<hr>
		<div>
			<button class="btn btn-primary">글 등록</button>
		</div>
	</div>
</html>